<div class='alert alert-warning alert-dismissible fade show' role="alert" id='noSaved'>
    <strong>Sorry!</strong> You have no saved articles.
    <button type='button' class="close" data-dismiss='alert' aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>